@import url('https://cdn.discordapp.com/attachments/247460659829276672/851856787129106452/bg1.jpg');

body {
    background: #071828;
    background-image: url('bg1.jpg');
    background-size: cover;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    font-size: 100pt;
    display: grid;
    align-items: center;
    grid-template-columns: 300px auto;
    background-repeat: no-repeat;
}

body:after {
    content: "Nevaehel edited";
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    color: #919191;
    font-size: 10pt;
}

h1 {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    color: rgb(255, 255, 255);
    font-size: 100pt;
    font-family: 'Playfair Display', sans-serif;
  
    background-image: linear-gradient(120deg, rgb(30,77,53) 0%, rgb(245, 233, 149) 50%, rgb(28, 33, 104) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 100%;
    transition: background-size 0.25s ease-in;        
}

img {
    grid-row-start: 2;
    grid-column-start: 1;
    max-width: 80px;
    max-height: 80px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 100px;
}
#box-1 {
  width: 1px;
  height: 1px;
  background: red;
}

#box-2 {
  width: 1px;
  height: 1px;
  background: blue;
}

#box-3 {
  width: 1px;
  height: 1px;
  background: green;
}

div {
  display: inline-block;
}

body {
  background: #071828;
}

  }
  
